<footer class="footer mt-20">
    <div class="container-fluid" id="foot">
        <p><a href="https://cloud.tencent.com" target="_blank">{$web_info->server}:{$web_info->domain}</a></p>
        <p><a href="http://beian.miit.gov.cn" target="_blank">{$web_info->web_case}</a></p>
    </div>
</footer>
<script type="text/javascript" src="{_HTTP_PATH}/plugin/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{_HTTP_PATH}/plugin/layer/3.0/layer.js"></script>
<script type="text/javascript" src="{_HTTP_PATH}/plugin/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="{_HTTP_PATH}/plugin/pifu/pifu.js"></script>
<script type="text/javascript" src="{_HTTP_PATH}/js/common.js"></script>
<script> $(function(){ $(window).on("scroll",backToTopFun); backToTopFun(); }); </script>