{extend name="base/base" /}

{block name="title"}
后台首页
{/block}

{block name="css"}
<link rel="stylesheet" href="">
{/block}

{block name="container"}
{include file="base/container" /}
{/block}

{block name="nav"}
{include file="base/nav" /}
{/block}

{block name="content"}
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home">
                <i class="layui-icon">&#xe68e;</i>我的桌面</li></ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd></dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='./welcome.html' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
{/block}

{block name="js"}
<script type="text/javascript" src="">

</script>
{/block}